@model TransactionViewModel
@using DangerSwap.Infrastructure
@using DangerSwap.Models.ViewModel;

@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Converter" asp-action="Convert" method="post">
    <label class="form-label row justify-content-center align-items-center website-font text-uppercase fs-1 fw-bold mt-5 mb-3">Converter</label>
    <div class="mb-5 pt-4 mx-auto col-8 pb-4  ">
        <select asp-for="Transaction.TransactionCurrency.FromId" class="form-select float-start currency-selection-fields">
            <option value="">Choose Fiat Currency</option>
            @foreach (var item in ViewBag.FiatCurrencies)
            {
                <option value=@item.Id>@item.Symbol | @item.Rate.RateUsd</option>
            }
        </select>
        <span asp-validation-for="Transaction.TransactionCurrency.FromId" class="text-danger"></span>
        <select asp-for="Transaction.TransactionCurrency.ToId" class="form-select float-end currency-selection-fields">
            <option value="">Choose Crypto Currency</option>
            @foreach (var item in ViewBag.CryptoCurrencies)
            {
                <option value=@item.Id>@item.Symbol | @item.Rate.RateUsd</option>
            }
        </select>
        <span asp-validation-for="Transaction.TransactionCurrency.ToId" class="text-danger"></span>
    </div>
    <div class="mb-5 pt-4 mx-auto col-8 mt-4 text-center">
        <input type="checkbox" asp-for="IsCapitalUsed" class="form-check-input" id="isCapitalUsedCheck" />
        <label class="form-check-label" for="isCapitalUsedCheck">Use my capital</label>
        <span asp-validation-for="IsCapitalUsed" class="text-danger"></span>
    </div>

    <div class="mb-5 pt-4 mx-auto col-8 mt-4">
        <input type="text" asp-for="Transaction.Amount" class="form-control float-start converter-value-fields" value="@ViewBag.ConvertableAmount" placeholder="Amount" />
        <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
        <input type="text" class="form-control float-end converter-value-fields" disabled value="@ViewBag.EqualAmount" />
        <input type="text" class="form-control mb-4 equality-sign border-0" disabled value="=" />
    </div>
    <div class="text-center mb-3 pt-4 align-content-center ">
        <input type="submit" class="btn btn-primary justify-content-center btn-block w-25" value="Convert" />
    </div>
    <label class="form-label row text-center justify-content-center align-items-center website-font text-uppercase fs-1 fw-bold mt-5 mb-3">Detailed currency information</label>
    <div class="mb-5 pt-4 mx-auto col-8 pb-4">
        <!--Redirect to detailed information form-->
        <select id="currency-information" class="form-select text-center">
            <option value="">Choose currency</option>
            @foreach (var item in ViewBag.CryptoCurrencies)
            {
                <option value=@item.Id>@item.Symbol</option>
            }
            @foreach (var item in ViewBag.FiatCurrencies)
            {
                <option value=@item.Id>@item.Symbol</option>
            }
        </select>
        <div id="currency-detailed-information" class="row website-font">
            <div>
                <p>Symbol: <span id="symbol"></span></p>
                <p>Name: <span id="name"></span></p>
                <p>Rate: <span id="rate"></span></p>
                <p>Description: <span id="description"></span></p>
            </div>
        </div>
    </div>
</form>