@model UpdateableUser
@using DangerSwap.Infrastructure
@using DangerSwap.Utilities

<div class="container mt-5">
    <div class="row justify-content-center align-items-center m-auto">
        <h1 class="row mb-3 justify-content-center align-items-center m-auto fw-bold">Edit Profile</h1>
        <form asp-controller="Profile" asp-action="Update" method="post">
            <div class="col-4 mx-auto">
                <div class="mb-3 pt-4">
                    <input type="text" asp-for="NewEmail" class="form-control" placeholder="New email adress" maxlength="@StringLengthConst.email" />
                    <span asp-validation-for="NewEmail" class="text-danger"></span>
                </div>
                <div class="mb-3 pt-4">
                    <input type="text" asp-for="ConfirmedNewEmail" class="form-control" placeholder="Reapeat new email adress" maxlength="@StringLengthConst.email" />
                    <span asp-validation-for="ConfirmedNewEmail" class="text-danger"></span>
                </div>
                <div class="mb-3 pt-4 ">
                    <div class="input-group">
                        <input type="password" asp-for="OldPassword" id="password" class="form-control password block w-full" placeholder="Enter old password" maxlength="@StringLengthConst.password" />
                        <span class="input-group-text"><em class="far fa-eye" id="toggle-password"></em></span>
                    </div>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-4 ">
                    <div class="input-group">
                        <input type="password" asp-for="NewPassword" id="password" class="form-control password block w-full" placeholder="Enter new password" maxlength="@StringLengthConst.password" />
                        <span class="input-group-text"><em class="far fa-eye" id="toggle-password"></em></span>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3 pt-4 ">
                    <div class="input-group">
                        <input type="password" asp-for="ConfirmedNewPassword" id="password" class="form-control password block w-full" placeholder="Repeat new password" maxlength="@StringLengthConst.password" />
                        <span class="input-group-text"><em class="far fa-eye" id="toggle-password"></em></span>
                    </div>
                    <span asp-validation-for="ConfirmedNewPassword" class="text-danger"></span>
                </div>

                <div class="text-center d-flex recaptcha">
                    <div class="container m-auto">
                        <div class="row">
                        </div>
                    </div>
                </div>
                <div class="mb-3 pt-4 row justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary w-25">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
